.footer{
  border-top: 1px solid #797979;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  & ul{
    display: flex;
    gap: 1rem;
  }
}


@media (max-width:425px) {
  .footer{
    flex-direction: column;
    & ul{
      flex-direction: column;
    }
    
  }
}