.campus{
  margin: 80px auto;
  max-width: 90%;
  text-align: center;

  & .gallery{
    margin-bottom: 40px;

  & img{
    max-width: 23%;
    border-radius: 10px;
  }
  }

  & button{

    & img{
      max-width: 20px;
    }
  }
}

/* ------media query-------- */

@media (max-width:800px) {
  .campus{
    /* border: 2px solid red; */
    /* gap: 1em; */

    & .gallery{
      flex-wrap: wrap;
      & img{
        max-width: 48%;
        margin-bottom:25px;
      }
    }
  }
}